<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>about_group_title</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>not set</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>Title</key>
			<string>version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>not set</string>
			<key>Key</key>
			<string>build_preference</string>
			<key>Title</key>
			<string>build</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>title_activity_identity_management</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>BackupIdentityViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>export_identity_label</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>RestoreIdentityViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>import_identity_label</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <dict>
			<key>IASKViewControllerClass</key>
			<string>GenerateKeysViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>key_management</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>

	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
